.top{
    width: 100%;
    height: 100px;
    background-color: blue;
    position: fixed;
    top: 0;
    text-align: left;
}

.main_text{
    height: 50cm;
}

.rigth{
    background-color: white;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}